In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
gmaps.__version__

'0.8.0'

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Talnakh,RU,2021-12-03 20:33:03,69.4865,88.3972,-23.80,98,100,11.23
1,1,Sukabumi,ID,2021-12-03 20:33:03,-6.9181,106.9267,67.53,96,100,0.98
2,2,Hobart,AU,2021-12-03 20:33:03,-42.8794,147.3294,52.02,77,75,1.99
3,3,Busselton,AU,2021-12-03 20:33:04,-33.6500,115.3333,53.04,80,0,11.43
4,4,Pisco,PE,2021-12-03 20:33:04,-13.7000,-76.2167,73.45,64,0,20.71

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
#temps = []
#for temp in max_temp:
    #temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Avarua,CK,2021-12-03 20:33:04,-21.2078,-159.7750,80.65,83,20,6.91
6,6,Kahului,US,2021-12-03 20:30:22,20.8947,-156.4700,75.85,94,75,6.91
9,9,Cockburn Town,TC,2021-12-03 20:33:05,21.4612,-71.1419,79.92,74,1,13.80
13,13,Rikitea,PF,2021-12-03 20:33:06,-23.1203,-134.9692,76.59,74,64,14.32
20,20,Noumea,NC,2021-12-03 20:33:08,-22.2763,166.4572,81.00,99,100,6.44
27,27,Souillac,MU,2021-12-03 20:33:10,-20.5167,57.5167,78.37,83,20,8.05
32,32,Kudahuvadhoo,MV,2021-12-03 20:33:12,2.6708,72.8944,82.02,77,12,8.28
46,46,Puerto Ayora,EC,2021-12-03 20:33:16,-0.7393,-90.3518,78.76,81,77,9.55
55,55,Santa Rosa,PH,2021-12-03 20:33:24,14.3122,121.1114,76.08,76,100,12.71
59,59,Sao Filipe,CV,2021-12-03 20:33:25,14.8961,-24.4956,75.63,70,83,13.53

In [11]:
preferred_cities_df.count()

City_ID       178
City          178
Country       178
Date          178
Lat           178
Lng           178
Max Temp      178
Humidity      178
Cloudiness    178
Wind Speed    178
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
5          Avarua      CK     80.65 -21.2078 -159.7750
6         Kahului      US     75.85  20.8947 -156.4700
9   Cockburn Town      TC     79.92  21.4612  -71.1419
13        Rikitea      PF     76.59 -23.1203 -134.9692
20         Noumea      NC     81.00 -22.2763  166.4572
27       Souillac      MU     78.37 -20.5167   57.5167
32   Kudahuvadhoo      MV     82.02   2.6708   72.8944
46   Puerto Ayora      EC     78.76  -0.7393  -90.3518
55     Santa Rosa      PH     76.08  14.3122  121.1114
59     Sao Filipe      CV     75.63  14.8961  -24.4956

In [13]:
#lat = hotel_df["Lat"]

In [14]:
#lng = hotel_df["Lng"]

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [16]:
# iterate through hotel DF to get locations for each city
for index, row in hotel_df.iterrows():
    lat = row['Lat']
    lng = row['Lng']
    
    # Add latitude and longitude to parameters for search
    params["location"] = f"{lat},{lng}"
    
    # Create base_url for search
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data
    hotels = requests.get(base_url, params=params).json()
    
    # Store name of first hotel in hotel DF
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError): 
        print("No hotel found...skipping.")

No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.

In [17]:
hotel_df

              City Country  Max Temp      Lat       Lng             Hotel Name
5           Avarua      CK     80.65 -21.2078 -159.7750           Paradise Inn
6          Kahului      US     75.85  20.8947 -156.4700     Maui Seaside Hotel
9    Cockburn Town      TC     79.92  21.4612  -71.1419     Osprey Beach Hotel
13         Rikitea      PF     76.59 -23.1203 -134.9692        People ThankYou
20          Noumea      NC     81.00 -22.2763  166.4572         Hôtel Le Lagon
..             ...     ...       ...      ...       ...                    ...
564       Galesong      ID     75.22  -5.3166  119.3661          Sapriadi Appy
569      Sao Bento      BR     84.99  -6.2833  -37.7500
570          Aquin      HT     82.40  18.2833  -73.4000           Asheev Beach
573       Pochutla      MX     89.82  15.7432  -96.4661  Hotel Posada San Jose
577           Codo      BR     78.12  -4.4553  -43.8856     Hotel Porto do Sol

[178 rows x 6 columns]

In [24]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [23]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]