## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Ambovombe,MG,-25.1667,46.0833,85.32,45,0,6.40,clear sky
1,1,Olafsvik,IS,64.8945,-23.7142,35.76,60,79,1.07,broken clouds
2,2,Rikitea,PF,-23.1203,-134.9692,76.42,75,67,14.20,broken clouds
3,3,Atuona,PF,-9.8000,-139.0333,78.80,72,1,16.37,clear sky
4,4,Guerrero Negro,MX,27.9769,-114.0611,61.45,85,35,10.67,scattered clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
filtered_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Ambovombe,MG,-25.1667,46.0833,85.32,45,0,6.40,clear sky
2,2,Rikitea,PF,-23.1203,-134.9692,76.42,75,67,14.20,broken clouds
3,3,Atuona,PF,-9.8000,-139.0333,78.80,72,1,16.37,clear sky
15,15,Busselton,AU,-33.6500,115.3333,84.09,35,9,4.63,clear sky
16,16,Baculin,PH,7.4525,126.5842,84.88,72,67,14.09,broken clouds
20,20,Kieta,PG,-6.2167,155.6333,83.61,75,98,1.19,light rain
23,23,Souillac,MU,-20.5167,57.5167,82.78,69,40,10.36,scattered clouds
25,25,Grenfell,AU,-33.9000,148.1667,78.33,18,0,14.47,clear sky
26,26,Vizianagaram,IN,18.1167,83.4167,78.31,78,100,14.32,overcast clouds
35,35,Lindi,TZ,-10.0000,39.7167,82.17,69,11,5.61,few clouds

In [5]:
# 4a. Determine if there are any empty rows.
filtered_cities_df.count()

City_ID                171
City                   171
Country                171
Lat                    171
Lng                    171
Max Temp               171
Humidity               171
Cloudiness             171
Wind Speed             171
Current Description    171
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = filtered_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Ambovombe,MG,-25.1667,46.0833,85.32,45,0,6.40,clear sky
2,2,Rikitea,PF,-23.1203,-134.9692,76.42,75,67,14.20,broken clouds
3,3,Atuona,PF,-9.8000,-139.0333,78.80,72,1,16.37,clear sky
15,15,Busselton,AU,-33.6500,115.3333,84.09,35,9,4.63,clear sky
16,16,Baculin,PH,7.4525,126.5842,84.88,72,67,14.09,broken clouds
...,...,...,...,...,...,...,...,...,...,...
697,697,Acapulco,MX,16.8634,-99.8901,77.16,78,44,3.96,scattered clouds
702,702,Ikalamavony,MG,-21.1500,46.5833,77.31,48,1,3.69,clear sky
703,703,Fomboni,KM,-12.2800,43.7425,81.86,72,36,11.61,scattered clouds
708,708,Lakshmeshwar,IN,15.1333,75.4667,77.13,72,75,1.23,broken clouds
709,709,San Pedro,PH,14.3500,121.0167,87.03,63,40,10.36,scattered clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = filtered_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Ambovombe,MG,85.32,clear sky,-25.1667,46.0833,
2,Rikitea,PF,76.42,broken clouds,-23.1203,-134.9692,
3,Atuona,PF,78.80,clear sky,-9.8000,-139.0333,
15,Busselton,AU,84.09,clear sky,-33.6500,115.3333,
16,Baculin,PH,84.88,broken clouds,7.4525,126.5842,
20,Kieta,PG,83.61,light rain,-6.2167,155.6333,
23,Souillac,MU,82.78,scattered clouds,-20.5167,57.5167,
25,Grenfell,AU,78.33,clear sky,-33.9000,148.1667,
26,Vizianagaram,IN,78.31,overcast clouds,18.1167,83.4167,
35,Lindi,TZ,82.17,few clouds,-10.0000,39.7167,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    lat = row['Lat']
    lng = row['Lng']

    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError): 
        print("No hotel found...skipping.")

No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.

In [9]:

# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = (hotel_df.replace(r'^\s*$', np.nan, regex=True)).dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Ambovombe,MG,85.32,clear sky,-25.1667,46.0833,RELAHARA
2,Rikitea,PF,76.42,broken clouds,-23.1203,-134.9692,People ThankYou
3,Atuona,PF,78.80,clear sky,-9.8000,-139.0333,Villa Enata
15,Busselton,AU,84.09,clear sky,-33.6500,115.3333,Observatory Guest House
16,Baculin,PH,84.88,broken clouds,7.4525,126.5842,Baculin Cove Beach Resort
...,...,...,...,...,...,...,...
687,Axim,GH,78.24,light rain,4.8699,-2.2405,Axim Beach Resort And Spa
697,Acapulco,MX,77.16,scattered clouds,16.8634,-99.8901,HS Hotsson Smart Acapulco
703,Fomboni,KM,81.86,scattered clouds,-12.2800,43.7425,Auberge les abou
708,Lakshmeshwar,IN,77.13,broken clouds,15.1333,75.4667,Prashanth Hotel Complex
709,San Pedro,PH,87.03,scattered clouds,14.3500,121.0167,Villa Veronica Resort Private Pool

In [10]:
len(clean_hotel_df)

160

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map. 
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))